<%= form_for( @question, html: { :class => "form-horizontal form-label-left" }) do |f|  %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item form-group">
    <%= f.label :body, :class=>"col-form-label col-md-3 col-sm-3 label-align" %>
    <div class="col-md-6 col-sm-6 ">
      <%= f.text_field :body, :class => "form-control" %>
    </div>
  </div>

  <div class="item form-group">
    <lable class="col-form-label col-md-3 col-sm-3 label-align">Answer</lable>
    <div class="col-md-6 col-sm-6 ">
      <input type="text" name="answer" value="" id="answer" required="required" class="form-control ">
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :note, :class=>"col-form-label col-md-3 col-sm-3 label-align" %>
    <div class="col-md-6 col-sm-6 ">
      <%= f.text_field :note, :class => "form-control" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :catrgory_id, :class=>"col-form-label col-md-3 col-sm-3 label-align"  %>
    <div class="col-md-6 col-sm-6 ">
      <%= select("question", "catrgory_id", @category.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :class => "form-control") %>
    </div>
  </div>
  <div id="options">
    <%= f.fields_for :options do |option| %>
      <%= render 'option_fields', :f => option%>
    <% end %>
    <div class='links actions col-md-12 col-sm-12 offset-md-3 label-align'>
      <i class="fa fa-plus"><%= link_to_add_association ' options', f, :options%></i>
    </div>
  </div>

  <div class="actions col-md-6 col-sm-6 offset-md-3 label-align">
    <%= f.submit  :class => " btn btn-sm btn-success"%>
  </div>
<% end %>
<script>
  $('#question_body').click(function() {
    alert($('#question_body').val())
  });
</script>
<style>
  .label-align {
    text-align: -webkit-right;
  }
</style>
