
  <!-- <div class="x_content"> -->
    <%= form_with(model: category, local: true, :class=>"form-horizontal form-label-left") do |form| %>
      <% if category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="section">
        <div class="row">
          <div class="col-md-12">
            <div class="item form-group">
              <%= form.label :name, :class=>"col-form-label col-md-3 col-sm-3 label-align"  %>
              <div class="col-md-6 col-sm-6 ">
                  <%= form.text_field :name , :class => "form-control"%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <div class="col-md-12">
            <div class="actions">
              <%= form.submit :class => " btn btn-sm btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
